<!DOCTYPE html>
<html>
	<head>
		<title>Error</title>
		<link rel="stylesheet" href="/css/reset.css" />
		<link rel="stylesheet" href="/css/404.css" />
	</head>
	<body>
		<main>
			<h1>404 Error - Page Not Found</h1>
			<p>
				We're sorry, there must be some mistake. The content you're looking for
				no longer exists or has been moved.
			</p>
			<p><a href="/">Click here to go back home.</a></p>
		</main>
	</body>
</html>
